.logo {
  display: grid;
  grid: 1fr / 1fr;

  .logo__textContent {
    display: grid;
    align-content: center;
    margin: 0;
    text-align: left;

    .logo__link {
      font-family: "FuturaDemiC", Arial, sans-serif;
      font-size: 0.875rem;
      line-height: 1rem;
      text-decoration: none;
      text-transform: uppercase;
      color: $coloredText;
      @media only screen and (max-width: 568px) {
        font-size: 0.75rem;
      }
    }
  }

  @media only screen and (max-width: 667px) {
    display: block;
  }
}

.navMenu {
  display: grid;
  align-content: center;

  .navMenu__menuItemsBlock {
    display: grid;
    margin: 0;
    padding: 0;
    grid: 1fr / repeat(6, 1fr);

    .navMenu__menuItem {
      font-family: FuturaBookC, Arial, sans-serif;
      font-size: 0.875rem;
      display: inline-block;
      text-align: center;
      text-transform: uppercase;

      .navMenu__link {
        transition: 0.3s;
        text-align: center;
        text-decoration: none;
        color: $whiteText;

        &:hover {
          color: $coloredText;
        }

        &:active {
          transform: scale(0.8);
          color: lighten($coloredText, 45%);
        }
      }

      @media only screen and (max-width: 768px) {
        font-size: 0.7rem;
      }
    }
  }

  @media only screen and (max-width: 667px) {
    display: none;
  }
}

.contacts {
  display: grid;
  align-items: center;
  grid: 1fr / repeat(2, 1fr);
  grid-gap: 30px;

  .contacts__phoneNo {
    justify-self: end;

    & .contacts__link {
      font-family: FuturaBookC, Arial, sans-serif;
      font-size: 0.875rem;
      line-height: 1rem;
      transition: 0.3s;
      text-decoration: underline;
      color: $coloredText;
      @media only screen and (max-width: 667px) {
        font-size: 0.75rem;
        color: $whiteText;
      }

      &:hover {
        color: lighten($coloredText, 10%);
      }
    }

    @media only screen and (max-width: 1112px) {
      display: none;
    }

    @media only screen and (max-width: 667px) {
      display: block;
    }
  }

  .contacts__callBtn {
    width: 100%;
    height: 37px;

    @media only screen and (max-width: 1112px) {
      width: 50%;
      justify-self: center;
    }

    @media only screen and (max-width: 1024px) {
      display: none;
    }
  }

  @media only screen and (max-width: 1112px) {
    grid: 1fr / 1fr;
  }

  @media only screen and (max-width: 667px) {
    display: block;
  }
}

.mainSection__content {
  position: relative;
  z-index: 0;
  display: grid;
  align-content: center;
  padding-left: 60px;
  transition: 300ms;
  background: url("../images/image1.jpg") no-repeat;
  grid-row-gap: 40px;

  &:after {
    @include darkenBg;
  }

  @media only screen and (max-width: 1024px) {
    background-position: -350px 0;
  }

  @media only screen and (max-width: 667px) {
    background-position: -370px 0;
    background-size: 1000px;
  }
}

.instagramLinkSide {
  font-family: "FuturaDemiC", Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1rem;
  height: 100%;

  .instagramLink__item {
    position: relative;
    display: inline-block;
    margin-top: 360px;
    transition: 300ms;
    transform: rotate(90deg);
    text-decoration: none;
    text-transform: uppercase;
    color: $coloredText;

    &:before {
      position: absolute;
      top: 7px;
      left: 100px;
      display: block;
      width: 51px;
      height: 1.5px;
      content: "";
      background-color: $coloredText;
    }

    &:hover {
      color: lighten($coloredText, 15%);
    }

    &:hover:before {
      background-color: lighten($coloredText, 15%);
    }

    @media only screen and (max-width: 768px) {
      margin-left: -15px;
    }
  }

  @media only screen and (max-width: 667px) {
    display: none;
  }
}

.mainSection__title {
  font-family: "Yeseva One", "Times New Roman", serif;
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 3.3125rem;
  z-index: 990;
  margin: 0;
  text-transform: uppercase;
  color: $whiteText;
}

.mainSection__title_colored {
  color: $coloredText;
}

.mainSection__infoText {
  font-family: FuturaBookC, Arial, sans-serif;
  font-size: 1.375rem;
  margin: 0;
  color: $whiteText;
}

.applicationForm {
  display: grid;
  width: 33.5%;
  grid: 1fr / 1fr 1fr;
  grid-column-gap: 20px;
}

.applicationForm__costCalcBtn,
.applicationForm__submitBtn {
  font-size: 0.8125rem;
  height: 51px;
}

.scrollDownBtn {
  position: absolute;
  z-index: 999;
  top: calc(-97px / 2);
  left: 82px;
  display: grid;
  align-items: center;
  width: 19%;
  height: 97px;
  background-color: $backgroundColorPrimary;
  grid: 1fr / 2fr 1fr;
  grid-column-gap: 20px;
  justify-items: center;
}

.scrollDownBtn__text {
  font-family: "Yeseva One", Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  text-transform: uppercase;
  color: $whiteText;
  justify-self: end;
}

.scrollDownBtn_aLink {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 29px;
  height: 29px;
  transition: 300ms;
  border: 2px solid $coloredText;
  border-radius: 50%;
  justify-self: left;

  &:hover {
    background-color: darken(rgba($primaryBtnColor, 0.5), 10%);
    box-shadow: 0 5px 15px rgba(227, 184, 115, 0.3);
  }
}

.sliderImage {
  position: relative;
  display: grid;
  width: 100%;
  user-select: none;
  grid: 125px 5fr / 1fr;

  .sliderImage__navBlock {
    align-self: center;
    width: 70%;

    .sliderImage__nav {
      display: grid;
      justify-content: space-between;
      padding: 0;
      grid: 1fr / auto-flow;
    }

    .sliderImage__item {
      display: inline-block;

      .sliderImage__link {
        font-size: 0.875rem;
        line-height: 1.1875rem;
        position: relative;
        display: inline-block;
        transition: 300ms;
        text-decoration: none;
        text-transform: uppercase;
        color: $transparentGrayText;

        @include underlineAnimationTxt(100%, -10px, $coloredText);
      }
    }
  }

  .sliderImage__images {
    display: grid;
    overflow: hidden;
    width: 100%;
    grid: 1fr / 81% 81%;
    grid-column-gap: 20px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.sliderImage__Btn {
  position: absolute;
  top: calc(50% - (55px / 2));
  right: 5%;
  display: block;
  width: 55px;
  height: 55px;
  cursor: pointer;
  transition: 300ms;
  border-radius: 50%;
  background-color: $coloredText;

  svg {
    position: absolute;
    top: 35%;
    left: 42%;
  }

  &:hover {
    background: darken($coloredText, 10%);
  }

  &:active {
    background-color: lighten($coloredText, 10%);
  }
}

.prev {
  left: 5%;
  display: none;
  transform: scaleX(-1);
}

.portfolio__title {
  font-family: "Yeseva One", "Times New Roman", serif;
  font-size: 1.6875rem;
  line-height: 2.3125rem;
  position: relative;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: $coloredText;
  grid-area: title;

  &:after {
    position: absolute;
    bottom: 30px;
    left: 40%;
    display: inline-block;
    width: 92px;
    height: 2px;
    content: "";
    background-color: $coloredText;
  }
}

.portfolio__Text {
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 1.8125rem;
  margin: 0;
  color: $whiteText;
  grid-area: description;
}

.portfolioSpecs {
  display: grid;
  margin: 0;
  grid: minmax(85px, 100px) minmax(85px, 100px) / 1fr 1fr;
  grid-area: specs;

  .portfolioSpecs__title {
    @include subTitle();
  }

  .portfolioSpecs__content {
    font-family: "FuturaBookC", Arial, sans-serif;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    margin: 0;
    color: $whiteText;
  }
}

.sliderBtn {
  position: relative;
  transform: translateX(65px);
  grid-area: sliderBtn;
  justify-self: left;

  ul {
    display: inline-block;
    height: 15px;
    margin: 0;
    padding: 0;
  }

  .sliderBtn__item {
    font-size: 70px;
    line-height: 15px;
    display: inline-block;
    width: 15px;
    margin: 0 5px;
    cursor: pointer;
    transition: 300ms;
    text-align: center;
    color: rgba($whiteText, 0.5);

    &:hover {
      color: $whiteText;
    }
  }

  .sliderBtn__prev,
  .sliderBtn__next {
    position: absolute;
    top: 0;
    cursor: pointer;
    transition: 300ms;

    &:hover {
      filter: invert(0.26) sepia(1) saturate(11.7) hue-rotate(0deg) brightness(0.77);
    }
  }

  .sliderBtn__prev {
    left: -65px;
  }

  .sliderBtn__next {
    right: -65px;
  }
}

.broadcast {
  
  .mainSection__title {
    @include sectionTitle;

    .mainSection__titleText {
      @include sectionTitle__text($whiteText);
    }

    .mainSection__icon {
      @include section__icon;
      background: url("../images/Component2.svg") no-repeat;
    }
  }

  .videoItem {
    width: 60.17%;
  }

  .requestForm__nameInput,
  .requestForm__phoneInput,
  .requestForm__emailInput {
    &::placeholder {
      color: $primaryTextColor;
    }

    &::-moz-placeholder {
      opacity: 1; //this property is for Firefox
      color: $primaryTextColor;
    }
  }

  .broadcast__description {
    font-family: FuturaBookC, Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 2.125rem;
    position: relative;
    display: grid;
    max-width: 681px;
    min-height: 200px;
    margin-top: 70px;
    text-align: center;
    color: $primaryTextColor;

    p {
      align-self: center;
      margin: 0;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 50%;
      display: block;
      width: 55px;
      height: 2px;
      content: "";
      transform: translateX(-50%);
      background-color: $coloredText;
    }
  }

  .broadcast__requestForm {
    height: fit-content;
  }
}

.services {
  
  .services__title {
    @include sectionTitle;
    height: fit-content;

    .services__titleText {
      @include sectionTitle__text($primaryTextColor);
    }

    .services__icon {
      @include section__icon;
      background: url("../images/repair-icon.svg") no-repeat;
    }
  }
}

.cardsContainer {
  display: grid;
  justify-content: center;
  grid: 1fr / 1fr 1fr 1fr;
  grid-column-gap: 30px;

  .card {
    position: relative;
    display: grid;
    grid: 6.9fr 4.7fr 1.6fr / 1fr;
    justify-items: center;

    img {
      width: 100%;
    }

    .card__description {
      position: absolute;
      bottom: 24%;
      width: 78%;
      padding: 28px 0 45px 35px;
      background: #FFFFFF;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);

      .card__title {
        font-family: "Yeseva One", "Times New Roman", serif;
        font-size: 1.125rem;
        margin: 0;
        color: $primaryTextColor;
      }

      .card__features {
        font-family: "FuturaBookC", Arial, sans-serif;
        font-size: 0.9375rem;
        line-height: 1.5625rem;
        padding-left: 15px;
        color: $descriptionTxt;

        li {
          margin: 5px 0;
        }
      }

      .card__Tag {
        font-family: "Yeseva One", "Times New Roman", serif;
        font-size: 1.125rem;
        line-height: 54px;
        position: absolute;
        bottom: -27px;
        left: 0;
        width: 228px;
        height: 54px;
        margin: 0;
        padding: 0;
        text-align: center;
        box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
      }
    }
  }
}

.measurement__steps {
  position: relative;
  z-index: 10;
  min-height: 725px;

  &:after {
    position: absolute;
    z-index: -1;
    top: 8%;
    left: -160px;
    display: block;
    width: 630px;
    height: 630px;
    content: "";
    border: 3px solid transparent;
    border-radius: 50%;
    background: linear-gradient(#FFFFFF, #FFFFFF) padding-box,
    linear-gradient(
                    to right,
                    #FFFFFF 0%,
                    #FFFFFF 20%,
                    #FFFFFF 20%,
                    #E3B873 100%
    ) border-box;
  }

  .measurement__Step {
    font-family: "FuturaMediumC", Arial, sans-serif;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    position: relative;
    z-index: 2;
    width: 364px;
    margin: 0;
    padding: 0;
    color: $primaryTextColor;
  }

  .step1:before,
  .step2:before,
  .step3:before,
  .step4:before {
    font-family: "Yeseva One", "Times New Roman", serif;
    font-size: 1.125rem;
    line-height: 42px;
    position: absolute;
    left: -80px;
    display: block;
    width: 42px;
    height: 42px;
    text-align: center;
    color: $whiteText;
    border: 15px #FFFFFF solid;
    border-radius: 50%;
    background: $primaryBtnColor;
  }

  .step1,
  .step2,
  .step3,
  .step4 {
    position: absolute;
    z-index: 1;
  }

  .step1 {
    top: 110px;
    left: 400px;

    &:before {
      top: -15px;
      content: "01";
    }
  }

  .step2 {
    top: 230px;
    left: 490px;

    &:before {
      top: -25px;
      content: "02";
    }
  }

  .step3 {
    top: 390px;
    left: 518px;

    &:before {
      top: -25px;
      content: "03";
    }
  }

  .step4 {
    top: 550px;
    left: 455px;

    &:before {
      top: -20px;
      content: "04";
    }
  }
}

.callForm {
  width: 93%;
  height: 506px;
  background: $backgroundColorPrimary;
  justify-self: right;

  .callForm__title {
    font-family: "FuturaDemiC", Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5625rem;
    margin-bottom: 45px;
    text-align: center;
    color: $whiteText;
  }

  label {
    color: lighten($labelColor, 70%);
  }

  .requestForm {
    position: relative;
    display: block;
    padding: 0 50px;

    .chBox {
      display: block;
      margin-left: 15px;
      color: $whiteText;
    }

    .requestForm__submitBtn {
      position: absolute;
      right: 50px;
      margin-top: 40px;
    }

    .requestForm__nameInput,
    .requestForm__phoneInput,
    .requestForm__emailInput {
      width: 100%;
      margin-bottom: 50px;
      color: $whiteText;
      border-bottom: 1px solid lighten($labelColor, 70%);

      &::placeholder {
        color: $whiteText;
      }

      &::-moz-placeholder {
        opacity: 1;
        color: $whiteText;
      }
    }

    .requestForm__emailInput {
      margin-bottom: 15px;
    }
  }
}

.measurement__tip {
  font-family: "FuturaDemiC", Arial, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5625rem;
  position: absolute;
  right: 140px;
  bottom: 30px;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  color: $coloredText;

  &:before {
    line-height: 100px;
    position: absolute;
    top: -13px;
    left: -100px;
    display: block;
    width: 72px;
    height: 72px;
    content: url("../images/pigIcon.svg");
    text-align: center;
    border-radius: 50%;
    background: $primaryBtnColor;
  }
}

.repairStyles {
  
  .image {
    position: relative;
  }

  .sliderImage__Btn,
  .prev,
  img {
    display: none;
  }

  .repairStyles__title {
    font-family: "Yeseva One", "Times New Roman", serif;
    font-size: 1.6875rem;
    line-height: 2.3125rem;
    align-self: center;
    padding-top: 100px;
    padding-left: 20px;
    text-transform: uppercase;
    color: $coloredText;
    grid-area: title;
    justify-self: left;
  }

  .repairStyles__itemsContainer {
    padding-left: 20px;
    grid-area: styleItems;

    .repairStyles__item {
      display: block;

      .link {
        font-family: "Proxima Nova Regular", Arial, sans-serif;
        font-size: 1.25rem;
        line-height: 2.125rem;
        position: relative;
        width: max-content;
        transition: 300ms;
        text-decoration: none;
        color: $whiteText;

        @include underlineAnimationTxt(100%, 2px, $coloredText);
      }
    }
  }
}

.imageContainer__firstCol {
  position: relative;
  top: -40px;

  .imageContainer__image:nth-child(1) {
    display: block;
    width: 355px;
    height: 555px;
    margin-bottom: 40px;
    background: url("../images/interior1.jpg");
  }

  .imageContainer__image:nth-child(2) {
    display: block;
    width: 355px;
    height: 350px;
    background: url("../images/interior_2.jpg");
  }
}

.imageContainer__secondCol {
  position: relative;
  top: -110px;

  .imageContainer__image:nth-child(1) {
    display: block;
    width: 355px;
    height: 275px;
    margin-bottom: 40px;
    background: url("../images/interior3.jpg");
  }

  .imageContainer__image:nth-child(2) {
    display: block;
    width: 355px;
    height: 625px;
    background: url("../images/interior4.jpg");
  }
}

.designProject {
  margin-bottom: -70px;

  .dots {
    display: none;
  }

  .designProject__title {
    @include sectionTitle;
    height: fit-content;

    .designProject__titleText {
      @include sectionTitle__text($primaryTextColor);
    }

    .designProject__icon {
      @include section__icon;
      background: url("../images/designProject.svg") no-repeat;
    }
  }

  .designProject__description {
    font-family: "FuturaBookC", Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1.6875rem;
    width: 100%;
    text-align: center;
    justify-self: center;
  }

  .card__description {
    top: 300px;
    height: max-content
  }
}

.design {
 
  .portfolio__title {
    position: relative;

    &:after {
      top: 40%;
    }

    &:before {
      font-family: FuturaDemiC, Arial, sans-serif;
      font-size: 15px;
      line-height: 21px;
      position: absolute;
      top: -50px;
      display: block;
      content: "HOW WE ARE WORKING";
      color: $whiteText;
    }
  }

  .portfolio__textSlider {
    grid: 1fr 1.5fr 3fr 1fr /1fr;
    grid-template-areas: "title" "subtitle" "description" "sliderBtn";
  }

  .portfolio__subtitle {
    position: relative;
    align-self: end;
    @include subTitle();
    grid-area: subtitle;

    &:before {
      font-family: FuturaDemiC, Arial, sans-serif;
      font-size: 15px;
      line-height: 21px;
      position: absolute;
      top: -50px;
      display: block;
      content: "1/6";
      color: $whiteText;
    }
  }

  .portfolio__Text {
    padding-top: 20px;
  }

  .sliderImage {
    grid: 5.5fr 10fr / 1fr;
  
    img {
      align-self: end;
      width: 125%;
    }
  }

  .portfolio__title:after {
    top: 50px;
    height: 1px;
  }

  .features {
    display: grid;
    padding-top: 70px;
    grid: 60px 60px / repeat(3, 140px);
    grid-column-gap: 24%;
    grid-row-gap: 24%;

    a {
      font-family: FuturaBookC, Arial, sans-serif;
      font-size: 15px;
      line-height: 18px;
      transition: 300ms;
      text-decoration: none;
      color: $transparentGrayText;
    }

    a:nth-child(1) {
      font-family: "Yeseva One", "Times New Roman", serif;
      font-size: 15px;
      line-height: 21px;
      border-bottom: 1px solid $coloredText;
    }

    .features__item {
      a {
        display: inline-block;
        margin: 8px 0;
      }

      &:hover a {
        color: $whiteText;
      }
    }
  }
}

.teamWrapper {
  padding-top: 100px;

  .team__title {
    @include sectionTitle;
    height: fit-content;

    .team__titleText {
      @include sectionTitle__text($whiteText);
    }

    .team__icon {
      @include section__icon;
      background: url("../images/teamIcon.svg") no-repeat;
    }
  }

  .team__description {
    font-family: "FuturaBookC", Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1.6875rem;
    width: 100%;
    text-align: center;
    color: $whiteText;
    justify-self: center;
  }

  .bottom {
    position: relative;
    padding-top: 130px;
    color: $primaryTextColor;

    &:after {
      position: absolute;
      top: 40%;
      left: 50%;
      display: block;
      width: 55px;
      height: 2px;
      content: "";
      transform: translateX(-50%);
      background: $coloredText;
    }
  }

  .cardsContainer {
    padding-top: 50px;
    justify-items: center;

    .card {
      position: relative;
      width: 275px;
      grid: 1fr / 1fr;

      .card__description {
        bottom: -10%;
        width: 85%;
        padding-top: 20px;
        padding-left: 0;
      }

      .card__title,
      .card__features {
        font-size: 18px;
        padding: 0;
        text-align: center;
      }

      .card__title {
        margin-bottom: 10px;
      }

      .card__icon {
        position: absolute;
        z-index: 10;
        top: -35px;
        left: -35px;
        display: flex;
        align-content: center;
        justify-content: center;
        width: 70px;
        height: 70px;

        img {
          width: 50px;
        }
      }

      .card__Tag {
        font-size: 13px;
        line-height: 20px;
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      .primaryBtnStyling {
        cursor: auto;
      }

      .primaryBtnStyling:hover {
        background-color: $primaryBtnColor;
      }
    }
  }

  .clients {
    padding-top: 80px;
    padding-bottom: 130px;

    .clients__title {
      @include sectionTitle;
      height: fit-content;

      .clients__titleText {
        @include sectionTitle__text($primaryTextColor);
      }

      .clients__icon {
        @include section__icon;
        background: url("../images/clients.svg") no-repeat;
      }
    }

    .clients__description {
      font-family: "FuturaBookC", Arial, sans-serif;
      font-size: 1.25rem;
      line-height: 1.6875rem;
      width: 100%;
      text-align: center;
      color: $primaryTextColor;
      justify-self: center;
    }

    .cardsContainer {
      grid-column-gap: 70px;

      .card {
        position: relative;
        display: grid;
        width: 100%;
        height: fit-content;
        box-shadow: 0 10px 50px rgba(0, 0, 0, 0.04);
        grid: .5fr 4fr / 1fr 4fr;
        grid-template-areas: "pic name" "review review";
        grid-column-gap: 20px;
        justify-items: auto;

        img {
          width: 76px;
          height: 76px;
          margin-left: 20px;
          border-radius: 50%;
          grid-area: pic;
        }

        .card__title {
          font-family: 'Yeseva One', 'Times New Roman', serif;
          font-size: 18px;
          line-height: 23px;
          align-self: center;
          width: 175px;
          margin: 0;
          padding: 0;
          text-align: left;
          justify-self: left;
        }

        .card__description {
          position: static;
          display: block;
          width: 100%;
          padding-bottom: 0;
          grid-area: review;

          .card__features {
            font-family: FuturaBookC, Arial, sans-serif;
            font-size: 15px;
            line-height: 30px;
            text-align: left;
            word-spacing: 1px;

            p {
              margin: 10px 20px;
            }
          }

          .cardTag__container {
            position: static;
            width: 100%;

          }

          .card__Tag {
            font-size: 17px;
            line-height: 54px;
            position: static;
            display: inline-block;
            width: 40%;
            height: 54px;
            transform: translate(0, 27px);

            img {
              width: 32px;
              height: 32px;
              transform: translate(-45%, 30%);
              border-radius: 0;
            }
          }

          .card__Tag:nth-child(2) {
            width: 50%;
            border-left: #FFFFFF 1px solid;
          }
        }
      }
    }
  }
}

.feedbackWrapper {
  padding-bottom: 20px;
  background: url("../images/ericsson.png") 0 245px no-repeat;
  background-size: 100% 100%;

  .callForm {
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 35px;


    .callForm__title {
      font-family: "Yeseva One", 'Times New Roman', serif;
      font-size: 20px;
      line-height: 28px;
      padding: 35px 0 15px;
      text-transform: uppercase;
    }

    .requestForm {
      display: grid;
      width: 60%;
      margin: 0 auto;
      grid: 1fr 1fr .2fr 1fr / 1fr 1fr;
      grid-template-areas: "name phone" "question question" "chBox chBox" "submitBtn submitBtn";

      .nameLabel {
        grid-area: name;
      }

      .phoneLabel {
        grid-area: phone;
      }

      .questionLabel {
        grid-area: question;
      }

      .requestForm__questionInput {
        width: 100%;
        margin-bottom: 50px;
        color: $whiteText;
        border-bottom: 1px solid lighten($labelColor, 70%);

        &::placeholder {
          color: $whiteText;
        }

        &::-moz-placeholder {
          opacity: 1;
          color: $whiteText;
        }
      }

      .requestForm__questionInput {
        margin-bottom: 15px;
      }

      .chBox {
        grid-area: chBox;
      }

      .requestForm__submitBtn {
        position: static;
        width: 200px;
        height: 50px;
        grid-area: submitBtn;
        justify-self: center;
      }
    }
  }

  .feedbackWrapper__contacts {
    font-family: "Yeseva One", "Times New Roman", serif;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: $coloredText;

    a {
      transition: 300ms;
      text-decoration: none;
      color: $coloredText;

      &:hover {
        color: lighten($coloredText, 25%);
      }
    }

    .instagramIcon, .mailIcon {
      display: inline-block;
      width: 28px;
      height: 28px;
      margin: 0 10px;
      cursor: pointer;
      transition: 300ms;
      border-radius: 50%;
      background: $primaryBtnColor;

      img {
        width: 50%;
        height: 50%;
      }

      &:hover {
        transform: scale(1.3);
        background: darken($primaryBtnColor, 15%);
      }

      &:active {
        transform: scale(0.8);
      }
    }
  }

  .map {
    max-width: 100%;
    margin: 50px 0;
    text-align: center;

    img {
      max-width: 100%;
    }
  }
}

.mobile {
  display: none;
}

