@font-face {
  font-family: 'FuturaDemiC';
  src: url("../fonts/FuturaDemiC.woff") format('woff');
}

@font-face {
  font-family: 'FuturaBookC';
  src: url("../fonts/FuturaBookC.woff") format('woff');
}

@font-face {
  font-family: 'FuturaMediumC';
  src: url("../fonts/FuturaMediumC.woff") format('woff');
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova-Regular.woff") format('woff');
}

@font-face {
  font-family: 'Yeseva One';
  src: url("../fonts/YesevaOne.woff") format('woff');
}


