@import "variables";

@media only screen and (max-width: 1140px) {
  .teamWrapper {
    width: 100vw;
    box-sizing: border-box;
  }

  .teamWrapper .clients .cardsContainer .card {
    width: 95%;

    .card__title {
      width: 95%;
    }
  }

  .mainSection {
    grid: 1fr / 1fr;
    width: unset;
    max-width: unset;
  }

  .mainSection + .mainSection {
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
  }

  .instagramLinkSide {
    display: none;
  }

  .portfolio {
    width: 100%;
    padding: 0;
    grid: 1fr 1.5fr/1fr;
  }

  .portfolio__title {
    text-align: center;
    justify-self: center;

    &:after {
      display: none;
    }
  }
  .portfolio__Text {
    width: 70%;
    margin: 40px auto;
    text-align: center;
    justify-self: center;
  }

  .portfolioSpecs {
    grid-column-gap: 150px;
    justify-self: center;

    .portfolioSpecs__item {
      transform: translateX(30%);
      width: 50%;
    }
  }

  .portfolio__textSlider {
    display: block;
    //grid: 3fr 12fr 10fr / 1fr;
    width: 100%;
  }

  .sliderImage .sliderImage__images {
    display: block;
    overflow: unset;
    height: fit-content;
    padding: 0;
    width: 95%;
    margin: 0 auto;
    text-align: center;

    img {
      width: 95%;
    }

    img:nth-child(2) {
      display: none;
    }
  }

  .sliderImage__Btn {
    top: 45%;
  }

  .scrollDownBtn {
    display: none;
  }

  .sliderBtn {
    display: none;
  }

  .sliderImage__navBlock {
    display: none;
  }

  .sliderImage {

    .prev {
      display: block;
    }
  }

  .broadcast {
    padding-top: 50px;
    padding-bottom: 0;
    grid: unset;
  }

  .imageContainer__secondCol {
    display: none;
  }

  .imageContainer__firstCol {
    left: 35%;
  }

  .repairStyles {
    min-height: 865px;
    -webkit-background-size: 100%;
    background-size: 150%;
  }

  .mainSectionWrapper:nth-child(4) {
    background: linear-gradient(0deg, #131313, #131313 69.5%, #FFFFFF 0, #FFFFFF);
  }
  .design {

    .portfolio {
      padding-top: 130px;
      padding-right: 10px;
      padding-left: 10px;
      grid: 1fr /1fr 2fr;

      .sliderImage {

        .features {
          grid-column-gap: 100px;
          justify-self: center;
        }
      }

      .portfolio__Text {
        text-align: left;
        justify-self: left;
      }
    }
  }

  .services {

    .cardsContainer .card .card__description {
      bottom: 10%;
    }
  }
}

@media only screen and (max-width: 1040px) {
  .mainSectionWrapper {
    overflow: unset;
  }

  .mainSectionWrapper:nth-child(3) {
    background: $backgroundColorPrimary;
  }

  .services {
    padding-top: 40px;

    .services__title {

      .services__titleText {
        color: $whiteText;
      }
    }
  }

  .measurement {
    margin-bottom: 100px;
    padding: 0;
    background: $backgroundColorPrimary;
    grid: unset;

    .callForm {
      width: 100%;
    }

    .measurement__tip {
      display: none;
    }

    .measurement__steps {
      display: none;
    }
  }

  .design {
    padding-bottom: 80px;
    background: $backgroundColorPrimary;

    .designProject {

      .designProject__description {
        color: $whiteText;
      }

      .designProject__title {

        .designProject__titleText {
          color: $whiteText;
        }
      }
    }

    .portfolio {
      display: none;
    }
  }
}

@media only screen and (max-width: 995px) {
  .design {

    .dots {
      display: unset;
    }

    .hide {
      display: none;
    }
    .designProject {
      grid: 1fr / 1fr;

      .cardsContainer {
        padding: 20px;
        grid: repeat(3, 1fr) / 1fr;
        grid-row-gap: 50px;

        .card {
          grid: minmax(300px, 600px) / 1fr;
          position: relative;


          .card__description {
            position: relative;
            left: 0;
            justify-self: left;
            top: unset;

            .card__title {
              font-size: 34px;
            }

            .card__features {
              font-size: 30px;
              line-height: 70px;
            }

            .card__Tag {
              font-size: 30px;
              width: 50%;
              height: 90px;
            }
          }
        }

        .card:nth-child(1) {
          //overflow: hidden;

          .card__description {
            max-height: 400px;
            bottom: -165px;
          }
        }

        .card:nth-child(2), .card:nth-child(3) {

          .card__description {
            max-height: 650px;
            bottom: 0;
          }
        }
      }
    }
  }

  .team {

    .teamWrapper {

      .clients {
        padding-bottom: 30px;

        .cardsContainer {

          .card {

            .cardTag__container {

              .card__Tag, .card__Tag:nth-child(2) {
                width: 49%;
              }
            }
          }
        }
      }

      .cardsContainer {
        grid: repeat(2, 1fr) / 1fr 1fr;
        grid-row-gap: 130px;

        .card:nth-child(3) {
          grid-column: 1 / span 2;
        }
      }
    }
  }

  .feedbackWrapper {
    .callForm {
      width: 100%;

    }
  }

    .feedbackWrapper {

      .map {
        width: 90%;
        margin: 20px auto;
      }
    }

  .mainSectionWrapper:nth-child(5) {
    background: linear-gradient(0deg,#fff,#fff 81%,#131313 0,#131313);
  }
}

@media only screen and (max-width: 820px) {
  header {

    .innerWrapper_header {

      .navigationBar {
        grid: 1fr / 1fr 1fr;
        justify-content: space-between;
        margin: 0 auto;
        width: 90vw;

        .navMenu {
          display: none;
        }

        .contacts {
            justify-self: end;
          .contacts__phoneNo {
            display: block;
            //width: 90%;
            justify-self: unset;
            position: relative;
            margin: 0 auto;
          }
        }
      }
    }

  }

  .broadcast {
    .broadcast__requestForm {
      display: none;
    }
  }

  .repairStyles {

    .repairStyles__title,
    .repairStyles__itemsContainer,
    .imageContainer {
      display: none;
    }

    &:after {
      display: none;
    }
  }


}
