$rootFontSize: 16px;
$primaryBtnColor: #E3B873;
$whiteText: #FFFFFF;
$primaryTextColor: #363636;
$descriptionTxt: #959595;
$labelColor: rgba(54, 54, 54, 0.5);
$coloredText: #E3B873;
$backgroundColorPrimary: #131313;
$transparentGrayText: rgba(255, 255, 255, 0.3);

$url : url("../images/Component2.svg");

